<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="../../public/css/styles.css" />
</head>

<body>
  <form style="margin: 5%" action="http://localhost:4200/api/ticket/update" method="POST" #form>
    <a href="http://localhost:4200" style="float: right;">Go To Dashboard</a>
    <div class="form-group">
        <label>Name</label>
        <p><%= ticket.name %>
    </div>
    <div class="form-group">
        <label>Email address</label>
        <p><%= ticket.email %></p>
    </div>
    <div class="form-group">
        <label for="notes">Notes:</label>
        <textarea class="form-control" id="notes" name="notes" placeholder="Enter notes about the ticket here."></textarea>
    </div>
    <input type="text" class="form-control" id="companyId" name="companyId" value="824187727"  />
    <input type="text" class="form-control" id="moderatorId" name="ticketId" value="<%= ticket.ticketId %>" hidden />
    <input type="submit" class="btn btn-primary btn-block btn-lg" value="Save Notes" (click)="form.submit()" />
  </form>
  <label style="color:green;margin-left:2%"><%= success %></label>

  <label style="color:red;margin-left:2%"><%= error %></label>
</body>

</html>